{% extends "admin/base.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-between mt-4">
    <h1 class="h4 mb-0 fw-semibold">Students</h1>
    <a href="{% url 'admin:student-new' %}" class="btn btn-primary">New studnet</a>
</div>

<div class="table-responsive mt-3 p-3 bg-white rounded shadow-sm">
    <table id="jquery-table" class="table table-striped">
        <thead>
            <tr>
                <th>Student</th>
                <th>Email address</th>
                <th>Course</th>
                <th class="text-end">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for student in object_list %}
            <tr>
                <td>{{ student }}</td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.course }}</td>
                <td class="text-end">
                    <a href="{% url 'admin:student-edit' student.pk %}" class="badge bg-success text-decoration-none">
                        Edit
                    </a>
                    <a href="{% url 'admin:student-delete' student.user.pk %}" class="badge bg-danger text-decoration-none">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
